<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>223512131338-mn3ct75p89behbr8mm6b1dggtc5vufis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223512131338-mn3ct75p89behbr8mm6b1dggtc5vufis</string>
	<key>API_KEY</key>
	<string>AIzaSyDzxsPQolmRbIt7QmemcGbWvKtfzgmCK6M</string>
	<key>GCM_SENDER_ID</key>
	<string>223512131338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitsmeright.silpakorn</string>
	<key>PROJECT_ID</key>
	<string>fitsmeright-8598a</string>
	<key>STORAGE_BUCKET</key>
	<string>fitsmeright-8598a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223512131338:ios:626585ee3b85ef0b</string>
	<key>DATABASE_URL</key>
	<string>https://fitsmeright-8598a.firebaseio.com</string>
</dict>
</plist>